@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>IT Services Inc. was founded in 2009 by Jim Phillips and Todd Daniels. From our initial team of two people, we have grown
    to a group of 7 highly trained experts ready to assist you!
    In the 8 Years that we have operated, 
    we have won over 10 awards from the Better Business Bureau including Best Tech Firm in Ohio!</p>
<br /><br />
<p1>We here at IT Services Inc. strive to provide the top Information Technology consulting in Ohio.</p1>
