@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1234 Main Street<br />
    Toledo, OH 43613<br />
    <abbr title="Phone">P:</abbr>
    419.555.5123
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@ITServices.com</a><br />
    <strong>Sales:</strong> <a href="mailto:Sales@example.com">Sales@ITServices.com</a>
</address>