@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>IT Service Inc.</h1>
    <p class="lead">Professional IT services for everyone.</p>
    <p><a href="~/Views/Home/About.cshtml" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Quality IT services</h2>
        <p>
            Here at IT services INC, we provide quality, afforable IT services for your business. Whether you're a big 
            business or small business, you can rest assured knowning that your IT needs are being taken care of 
            by highly trained professionals. 
        </p>
        <p><a class="btn btn-default" href="~/Views/Home/Services.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trained professionals</h2>
        <p>Each employee is an expert in their field, ranging from Networks to Computer security. Meet the team!</p>
        <p><a class="btn btn-default" href="~/Views/Home/Team.cshtml">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>