
@{
    ViewBag.Title = "Services";
}

<h2>Services</h2>

<p1>Here at IT Services Inc we provide a variety of professional grade IT services for 
    business both large and small.</p1><br />
<br />
<p2><b><u>Below is a list of the premium services we offer:</b></u></p2>
<br /><br />
<u1 class="services">
    <li>Computer Security consulting and risk assessment</li>
    <li>Network monitoring and configuation</li>
    <li>Helpdesk support</li>
    <li>Server hosting and configuation</li>
    <li>Enterprise Software licensing</li>
    <li>VoIP phone configuation</li>
    <li>Firewall and device management</li>
</u1>
<br />
<br />
<p3>Interested in our services?</p3>
@Html.ActionLink("Contact Us!", "Contact", "Home")