
@{
    ViewBag.Title = "Team";
}

<h2>Our Team:</h2>

<p1>Meet our team of IT experts!</p1><br />

<h3>Jim Phillips: Co-Founder and CEO</h3>
<img src="~/Content/Images/TeamImages/cofounderjim.jpg" style="width:350px;height:200px" />
<br />
<p1>Jim Phillips was born and raised in Toledo, Ohio and graduated from the University of Toledo
    with degrees in Information Technology and Entrepreneurship. Together with Todd Daniels, a fellow classmate, 
    Jim founded IT Services Inc, and helps lead the team in projects.</p1>
<br /><br /><br />
<h4>Todd Daniels: Co-Founder and CTO</h4>
<img src="~/Content/Images/TeamImages/cofoundertodd.jpg" style="width:350px;height:200px" />
<br />
<p2>Todd Daniels was born in Bowling Green, Ohio, and graduated the University of Toledo 
    with degrees in Information Technology and Computer Science. After graduation, Todd met with Jim Phillips 
    and together they formed IT Services Inc. Jim leads as the CTO, providing expert technological knowledge and engineering to clients</p2>
<br /><br /><br />
<h4>Kelly Edwards: Director of Marketing and Sales</h4>
<img src="~/Content/Images/TeamImages/kellysales.jpg" style="width:350px;height:250px" />
<br />
<p3>Kelly Edwards was born in Columbus, Ohio. After graduating from the University of Toledo with a degree in 
    Marketing, Kelly was brought in to lead the Marketing and sales division of IT Services Inc. Kelly's
    expertise allows IT Services Inc. to reach customers in the tri-state area.</p3>
<br /><br /><br />
<h4>Bob Newhope: Network Engineer</h4>
<img src="~/Content/Images/TeamImages/bob.jpg" style="width:350px;height:250px" />
<br />
<p4>Bob Newhope is a talent network engineer, having graduated from the Ohio State University with a degree in Information Technology, Bob 
    specilizes in Network engineering and communications. Bob is CCNA certified and has experience with networks both large and small.</p4>
<br /><br /><br />
<h4>Nancy Reed: Computer Technician</h4>
<img src="~/Content/Images/TeamImages/nancy.jpg" style="width:350px;height:250px" />
<br />
<p5>
    Nancy Reed is a talented, hardworking Computer technician. After graduating from the University of Toledo with a degree in Computer Science, 
    Nancy found a job with IT Services as head Technician. Nancy is often found repairing damaged machines, and specializes in data recovery.
</p5>
<br /><br /><br />
<h4>Jason Colby: Computer Security</h4>
<img src="~/Content/Images/TeamImages/jason.jpg" style="width:350px;height:300px" />
<br />
<p5>
    Jason Colby is an expert in all things Computer Security. Jason specializes in Ethical Hacking, meaning he attempts to hack networks in the 
    interest of securing them. Jason has certifications in the Certified Ethical Hacker, CCNA, and A+. 
</p5>
<br /><br /><br />
<h4>Linda Chiles: Server Administrator</h4>
<img src="~/Content/Images/TeamImages/linda.jpg" style="width:350px;height:250px" />
<br />
<p5>
    Linda Chiles is our resident Server Administrator. After receiving her degree from the University of Toledo, Linda met with fellow classmates Todd and Jim, and
was offered one of the first positions at IT Services inc. Linda specializes in all things servers, from hosting to consulting, Linda can do it all. </p5>
<br /><br /><br />
